# Ignore only the large diabetes model file
models/diabetes_model.joblib

# Keep all other models and compressed versions
!models/*compressed.joblib
!models/diabetes_scaler.joblib
!models/diabetes_imputer.joblib
!models/hypertension_model.joblib
!models/hypertension_scaler.joblib
!models/hypertension_imputer.joblib

# Common ignores
__pycache__/
*.pyc
.env
venv/
.idea/
.DS_Store

# Streamlit & logs
.streamlit/secrets.toml
logs/
